.box1{
    width: 400px;
    height: 400px;
    background-color: rgb(218, 236, 17);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#mainbox{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    /* justify-content: right; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    gap: 10px;
    height: 700px;
    align-items: center;
    background-color: black;

}