*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#nav1{
    height:90px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

#nav1 nav ul{
    display:flex;
    list-style: none;
    gap: 20px;
}

#nav1 nav ul li a{
    display: flex;
    text-decoration: none;
    color: white;
}

#nav1 nav ul li a:hover{
    color: #ffbe33;
    /* font-size: 30px;` */
}

#nav1 div a{
    text-decoration: none;
    color: white;
}


#nav1 button{
    height: 50px;
    width: 170px;
    border-radius: 50px;
    color: white;
    background-color: #ffbe33;
    border: none;
}
#nav1 button a{
    text-decoration: none;
    color: aliceblue;
}

.res_about{
    display: block;
    margin: 80px 80px 0px 110px;
}

#section1{
    width: 100%;
    height: 100vh;
    background-image: url(web_imj/hero-bg.jpg);
    background-size: cover;

}
h1{
    color: white;
}
